<div class="fullfill flex flex-column">
    <header>
        <a class="logo">
            <img src="../assets/images/logo.png" />
            <span class="main-title">ANGULAR UI</span>
            <span class="vice-title">a small custome repository</span>
        </a>
    </header>
    <div class="flex-1 flex">
        <div class="flex-1">
            <input class="ip-input" style="width: 200px;" type="text" datepicker [options]="optionOne" [(ngModel)]="startTime" [minDate]="minStartDate"
                [maxDate]="endTime"> -
            <input class="ip-input" style="width: 200px;" type="text" datepicker [options]="optionTwo" [ngModel]="endTime | date: 'yyyy-MM-dd'"
                [(time)]="endTime" [minDate]="startTime" [maxDate]="maxEndDate">
        </div>
    </div>
</div>